@using InventoryManagementSystem.ViewModels
@model homeViewModel
<style>
    .card:hover{
        transform:scale(1.05);
        transition:all 2s ease;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-body text-center">
                <h5> <i class="fa-solid fa-warehouse"></i>  WareHouses</h5>
                <h3>@Model.warehousesNum</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-body text-center">
                <h5> <i class="fa-solid fa-layer-group"></i>  Categories</h5>
                <h3>@Model.categoriesNum</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-body text-center">
                <h5><i class="fa-solid fa-cubes"></i>  Products</h5>
                <h3>@Model.productsNum</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light">
            <div class="card-body text-center">
                <h5><i class="fa-solid fa-person"></i>  Suppliers</h5>
                <h3>@Model.suppliersNum</h3>
            </div>
        </div>
    </div>
   
</div>


<div class="row d-flex justify-content-center  mt-5">

    <div class="card shadow-sm rounded-3 me-1 col-5">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h6 class="mb-0 text-danger fw-semibold">
                    <i class="fa-solid fa-cubes"></i>
                    Low Stock Products
                </h6>
                <a href="/product/index" class="text-primary small text-decoration-none">View All</a>
            </div>

            <!-- Product List Item -->
            @foreach (var item in Model.LowStockProducts)
            {
                <div class="d-flex align-items-center mb-3">
                    <img src="~/images/@item.Image" class="rounded me-3" width="45" height="45" alt="Dell XPS 13">
                    <div class="flex-grow-1">
                        <div class="fw-semibold">@item.Name</div>
                        <small class="text-muted">ID : @item.ProductId</small>
                    </div>
                    <div class="text-end">
                        <div class="text-success small">Instock</div>
                        <div class="fw-bold text-danger">@item.TotalStocQuantity</div>
                    </div>
                </div>

            }
       

        </div>
    </div>

    <div class="card shadow-sm rounded-3 ms-1 col-5">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="mb-0 text-danger fw-semibold">
                <i class="fa-solid fa-users"></i>
                Supplier
            </h6>
            <a href="/supplier/index" class="text-primary small text-decoration-none">View All</a>
        </div>

        <!-- suppliers List  -->
        @foreach (var item in Model.Suppliers)
        {
            <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1">
                    <div class="fw-semibold">@item.Name</div>
                    <small class="text-muted">ID : @item.SupplierId</small>
                </div>
                <div class="text-center me-5">
                    <div class="text-success small">Phone</div>
                    <div class="fw-bold text-danger">@item.Phone</div>
                </div>
                <div class="text-end">
                    <div class="text-success small">Address</div>
                    <div class="fw-bold text-danger">
                        @(string.IsNullOrEmpty(item.Address) ? "" : item.Address.Length > 10 ? item.Address.Substring(0, 10) : item.Address)
                    </div>
                </div>
            </div>

        }
       

    </div>
</div>
</div>
