 @model PagedResult<WareHouse>

 
<table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center">
                                   <a class="sort" href="#"  data-sortorder="@ViewData["IdSortParam"]"> 
                                        Id @(ViewBag.sortOrder== "id_desc" ? "↓" :ViewBag.sortOrder == null ? "↑" : "")
                                    </a>
                                </th>
                                <th class="text-center">
                                 <a class="sort" href="#"  data-sortorder="@ViewData["NameSortParam"]">
                                     WareHouse @(ViewBag.sortOrder== "name_desc" ? "↓" :ViewBag.sortOrder == "name" ? "↑" : "")
                                 </a>
                                </th>
                                <th class="text-center">
                                    <a class="sort" href="#"  data-sortorder="@ViewData["locationSortParam"]">
                                        Location@(ViewBag.sortOrder== "loca_desc" ? "↓" :ViewBag.sortOrder == "loca" ? "↑" : "")
                                     </a>
                                </th >
                                <th class="text-center">
                                   <a class="sort" href="#"  data-sortorder="@ViewData["phoneSortParam"]">
                                       PhoneNumber@(ViewBag.sortOrder== "phone_desc" ? "↓" :ViewBag.sortOrder == "phone" ? "↑" : "")
                                   </a>
                                </th>
                               <th class="text-center">
                                   <a class="sort" href="#"  data-sortorder="@ViewData["productsSortParam"]">
                                       Total Products @(ViewBag.sortOrder== "products_desc" ? "↓" :ViewBag.sortOrder == "products" ? "↑" : "")
                                   </a>
                                </th>
                               <th class="text-center">
                                   <a class="sort" href="#"  data-sortorder="@ViewData["dateSortParam"]">
                                       CreatedAt @(ViewBag.sortOrder== "date_desc" ? "↓" :ViewBag.sortOrder == "date" ? "↑" : "")
                                   </a>
                                </th>
                                <th class="text-center">
                                   <a class="sort" href="#"  data-sortorder="@ViewData["phoneSortParam"]">
                                       Manager@(ViewBag.sortOrder== "phone_desc" ? "↓" :ViewBag.sortOrder == "phone" ? "↑" : "")
                                   </a>
                                </th>
                                <th class="text-center">
                                    Status
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @foreach (var item in Model.TotalItems)
                            {
                                  <tr>
                                   
                                    <td>
                                        <p class="text-xs text-center font-weight-bold mb-0"> @item.WareHouseId</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">@item.Name</span>
                                    </td>
                                   <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">@item.Location</span>
                                    </td>
                                   <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">@item.PhoneNumber</span>
                                    </td>
                                   <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">@item.InventoryItems.Count</span>
                                    </td>
                                   <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">@item.CreatedAt.ToString("dd  MMMM  yyyy")</span>
                                    </td>
                                   <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">@item.Manager?.UserName</span>
                                    </td>
                                   <td class="align-middle text-center text-sm">
                                        @if (item.IsActive == true)
                                        {
                                            <span class="badge badge-sm " style="background-color:green">Active</span>

                                        }
                                        else
                                        {
                                             <span class="badge badge-sm " style="background-color:red">InActive</span>

                                        }
                                    </td>
                                  
                                    <td class="align-middle btn btn-primary ms-1">
                                        <a href="/WareHouse/Details?WareHouseId=@item.WareHouseId" class=" text-secondary font-weight-bold text-xs page-link" >
                                             <i class="fa-solid fa-eye"></i>
                                        </a>
                                    </td>
                                    @if (User.IsInRole(StaticDetails.Admin_Role))
                                    {
                                             <td class="align-middle btn btn-dark ms-1">
                                                      <a class="UpSert-btn text-secondary font-weight-bold text-xs page-link" data-id="@item.WareHouseId">
                                                          <i class="fa-solid fa-pen-to-square"></i>
                                                      </a>
                                             </td>
                                             <td class="align-middle btn btn-danger">
                                                       <button class="delete-btn text-secondary font-weight-bold text-xs page-link" data-id="@item.WareHouseId">
                                                           <i class="fa-solid fa-trash"></i>
                                                       </button>
                                             </td>
                                    }
               
                                
                                </tr>
                                
                            }
                        </tbody>
                    </table>
